# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Modelos
*.pkl
*.joblib
models/*.h5

# Dados
data/raw/*
!data/raw/.gitkeep
data/processed/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db
